AUTH_SECRET=

AUTH_MICROSOFT_ENTRA_ID_ID=
AUTH_MICROSOFT_ENTRA_ID_SECRET=
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=

GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_OWNER_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=

EXPENSE_VOUCHER_SHEET_ID=
EXPENSE_VOUCHER_SUPERVISOR=
EXPENSE_VOUCHERS_FOLDER_ID=

SLACK_HELP_CHANNEL_URL=
