# Authentication
AUTH_SECRET=
AUTH_MICROSOFT_ENTRA_ID_ID=
AUTH_MICROSOFT_ENTRA_ID_SECRET=
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=

# Google Cloud Service Account
GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_OWNER_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_PRIVATE_KEY=

# Google Drive Locations
## Reimbursements / Expense Vouchers
EXPENSE_VOUCHER_TEMPLATE_FILE_ID=
EXPENSE_VOUCHERS_FOLDER_ID=
EXPENSE_VOUCHER_SUPERVISOR=
REIMBURSEMENT_REQUESTS_DB_FILE_ID=

## Member Data
MEMBERS_ROSTER_FILE_ID=

# Miscellaneous
APP_URL=  # do not include trailing slash
NEXT_PUBLIC_WIKI_PROCUREMENT_URL=
NEXT_PUBLIC_SLACK_HELP_CHANNEL_NAME=
NEXT_PUBLIC_SLACK_HELP_CHANNEL_URL=
NEXT_PUBLIC_ORDER_PLACEMENT_SCHEDULE=
NEXT_PUBLIC_SLACK_FINANCE_INTERNAL_CHANNEL_ID=
